 *{
	    margin: 0;
	    padding: 0;
	}

	div.wrapper{
	    width: 720px;
	    margin: auto;
	    padding: 70px 40px;
	    background:rgba(255, 255, 255, 0.281);
	    color: white;
	    border-radius: 10px;
	    border: 1px black;
	}

	div.iconWrapper{
	    text-align: center;
	}

	div.iconWrapper i{
	    font-size: 30px;
	    color: turquoise;
	    margin-top: 50px;
	}

	span{
	    color: black; position: absolute; top: 4px;left:9px;font-size: 20px;font-weight: 900;
	}
